@model SanjivaniModalView.CPCchannelPartnerModel
@using (Html.BeginForm("_SetCPCDocument", "CPC", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="box box-danger" id="loading-example">
        <div class="box-header" style="cursor: move;background-color: steelblue;cursor: move;color: white;">
            <!-- tools box -->
            <div class="pull-right box-tools">

                @*<button class="btn btn-danger btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse"><i class="fa fa-minus"></i></button>*@

            </div><!-- /. tools -->
            <i class="fa fa-file"></i>

            <h3 class="box-title">Document Detail</h3>
        </div><!-- /.box-header -->
        <div class="box-body no-padding" style="background-color: whitesmoke;">
            @Html.HiddenFor(model => model.CustId)
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="exampleInputFile">Upload Profile photo</label>
                    <input type="file" name="postedFile" class="form-control" id="fileuploaded" accept="image/png,image/jpeg,image/jpg,application/pdf" required />
                </div>
                <div class="form-group col-md-6">
                    <label for="exampleInputFile">Upload Company PAN Card</label>

                    <input type="file" name="postedFile" class="form-control" id="fileuploaded1" accept="image/png,image/jpeg,image/jpg,application/pdf" required />
                </div>
                <div class="form-group col-md-6">
                    <label for="exampleInputFile">Upload Adhaar Card </label>

                    <input type="file" name="postedFile" class="form-control" id="fileuploaded2" accept="image/png,image/jpeg,image/jpg,application/pdf" required" />
                </div>
                <div class="form-group col-md-6">
                    <label for="exampleInputFile">Upload Light Bill</label>

                    <input type="file" name="postedFile" class="form-control" id="fileuploaded3" accept="image/png,image/jpeg,image/jpg,application/pdf" required />
                </div>
                <div class="form-group col-md-6">
                    <label for="exampleInputFile">Upload Passport</label>
                    <input type="file" name="postedFile" class="form-control" id="fileuploaded4" accept="image/png,image/jpeg,image/jpg,application/pdf" required />
                </div>

            </div><!-- /.row - inside box -->
        </div><!-- /.box-body -->

    </div>
    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
}
